streamlit
python-dotenv
pytesseract
Pillow
PyPDF2
langchain
langchain-groq
langchain-google-genai
google-generativeai
faiss-cpu
faiss
numpy
aiohttp
asyncio
typing-extensions
dataclasses
pdfminer.six
pdf2image
python-multipart
